<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="icon" href="../static/icon/favicon.ico" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between card align-items-center affix">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <div class="d-flex align-items-center">
                    <img src="../static/svg/question-mark_icon-icons.com_69724.svg" class="d-inline-block brand-icon"
                         alt="brand-icon">
                    <h1 class="margin-left">Ask&Answer</h1>
                </div>
            </a>
            <div class="form-inline d-flex form-input justify-content-center">
                <form action="index.html" class="form-form-input">
                    <input class="form-control mr-sm-2" type="search" placeholder="Find your question" aria-label="Search">
                </form>
            </div>
            <div class="d-flex align-items-center">
                    <a href="login.html" class="margin">Log in</a>
                    <a href="signup.html" class="margin">Register</a>
            </div>
        </div>
    </nav>
    <main class="container">
        <div class="row">
            <div class="col-9">
                <h1 class="margin-top-1 margin-bottom-1">
                    Log in
                </h1>
                    <div class="form-group row margin-bottom-05">
                        <label for="" class="col-2 col-form-label">Login</label>
                        <div class="col-4">
                            <input required class="form-control" value="dr_dalton" type="text"
                                   placeholder="Your login">
                        </div>
                    </div>
                    <div class="form-group row margin-bottom-05">
                        <label for="" class="col-2 col-form-label">Password</label>
                        <div class="col-4">
                            <input required class="form-control is-invalid" value="mrdalton1984" type="password"
                                   placeholder="Password">
                            <div class="invalid-feedback">Password is incorrect!</div>
                        </div>
                    </div>
                    <div class="form-group row margin-bottom-05">
                        <div class="col-2"></div>
                        <div class="col-3">
                            <form action="index.html">
                                <button type="submit" class="btn btn-md btn-outline-primary margin-top">Log in</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-3">
                            <p class="margin-top"><a href="signup.html">create new account</a></p>
                        </div>
                    </div>
            </div>
            <div class="col-3 margin-top-1">
                <div class="margin-bottom-1 text-center">
                    <h2 class="text-nowrap margin-bottom-1">Popular tags</h2>
                    <div class="col-10 mx-auto">
                        <ul class="list-inline h5">
                            <li class="list-inline-item margin-bottom"><a href="" class="link-un"
                                                                          style="color: blue">HTML5</a></li>
                            <li class="list-inline-item margin-bottom"><a href="" class="link-un"
                                                                          style="color: darkorange">Python</a></li>
                            <li class="list-inline-item margin-bottom"><a href="" class="link-un"
                                                                          style="color: black">C++</a></li>
                            <li class="list-inline-item margin-bottom"><a href="" class="link-un"
                                                                          style="color: darkorchid">Django</a></li>
                            <li class="list-inline-item margin-bottom"><a href="" class="link-un"
                                                                          style="color: limegreen">XCode</a></li>
                            <li class="list-inline-item margin-bottom"><a href="" class="link-un"
                                                                          style="color: darkred">Swift</a></li>
                            <li class="list-inline-item margin-bottom"><a href="" class="link-un"
                                                                          style="color: steelblue">PyCharm</a></li>
                            <li class="list-inline-item margin-bottom"><a href="" class="link-un"
                                                                          style="color: chocolate">CSS</a></li>
                            <li class="list-inline-item margin-bottom"><a href="" class="link-un"
                                                                          style="color: blueviolet">Bootstrap</a></li>
                            <li class="list-inline-item margin-bottom"><a href="" class="link-un"
                                                                          style="color: lightseagreen">Machine
                                Learning</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h2 class="text-center margin-bottom-1">Best Members</h2>
                    <div class="col-10 mx-auto">
                        <ul class="list-unstyled">
                        <li class="margin-bottom-05"><a href="">Willams D.</a></li>
                        <li class="margin-bottom-05"><a href="">Dr. House</a></li>
                        <li class="margin-bottom-05"><a href="">Mr. Freeman</a></li>
                        <li class="margin-bottom-05"><a href="">Mrs. Adelle</a></li>
                        <li class="margin-bottom-05"><a href="">Huan Tou</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>